.header{
    position: relative;
    z-index: 9999;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    /* border: 1px solid yellow; */
}

.header__img{
    max-width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.header__menu2,
.header__menu{
    display: none;
}

.header__bars{
    color: var(--clr-light);
    width: var(--size-3xl);
    height: var(--size-3xl);
    display: block;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .header__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        /* border: 1px solid red; */
        padding: 0;
        gap: 2em;
    }
    
    .header__menu2{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        /* border: 1px solid green; */
        padding: 0;
        gap: 2em;
    }
    
    .header__link{
        text-decoration: none;
        font-size: var(--size-xs);
        font-weight: 600;
        padding: 0.5em 1em;
        border-radius: 1.5rem;
        color: var(--clr-slate600);
        letter-spacing: -0.05em;
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    
    .header__link:hover{
        color: #f1f5f9;
        background-color: var(--clr-green); 
        box-shadow: 0 10px 20px rgba(9, 191, 96, 0.5), 0 6px 6px rgba(9, 191, 96, 0.5), 0 0 100px -10px var(--clr-green);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    
    .header__line{
        border: 1px solid var(--clr-slate600);
        padding-top: 1.5em;
    }
    
    .header__theme-toggle-container{
        display: flex;
        gap: 1rem;
    }

    .header__moon,
    .header__sun{
        display: block;
        color: var(--clr-slate600);
        width: var(--size-base);
        height: var(--size-base);
        transition: color 0.3s;
    }

    .header__moon:hover,
    .header__sun:hover{
        color: var(--clr-green);
    }
    
    .header__getstart{
        font-size: var(--size-xs);
    }

    .header__bars{
        display: none;
    }
}

/* lg */
.header__img{
    width: 10rem;
}

@media (min-width: 1024px) {
    .header__link{
        font-size: var(--size-sm);
    }

    .header__moon,
    .header__sun{
        width: var(--size-xl);
        height: var(--size-xl); 
    }

    .header__getstart{
        font-size: var(--size-sm);
    }
}

/* xl */
@media (min-width: 1280px) {
    .header__link{
        font-size: var(--size-base);
    }

    .header__moon,
    .header__sun{
        width: var(--size-2xl);
        height: var(--size-2xl); 
    }

    .header__getstart{
        font-size: var(--size-base);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
