.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-top: 2rem;
}

.hero__subtitle{
    color: var(--clr-slate800);
    font-size: var(--size-4xl);
    line-height: 0.9;
    transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
}

.hero__subtitle:hover{
    color: var(--clr-light);
    text-shadow: var(--clr-light50) 1px 0 10px;
    transform: translateY(-10px);
}

.hero__title{
    font-size: var(--size-4xl);
    text-transform: uppercase;
    color: var(--clr-light);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description{
    max-width: 40ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

/* xs */
/* @media (min-width: 475px) {
    .hero__subtitle{
        font-size: var(--size-5xl);
    }

    .hero__title{
        font-size: var(--size-5xl);
    }
    
    .hero__description{
        max-width: 60ch;
    }
} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .hero__subtitle{
        font-size: var(--size-7xl);
    }

    .hero__title{
        font-size: var(--size-7xl);
    }
    
    .hero__description{
        max-width: 70ch;
    }
}

/* lg */
@media (min-width: 1024px) {
    .hero{
        gap: 1rem;
    }

    .hero__description{
        max-width: 80ch;
        font-size: var(--size-base);
    }
}

/* xl */
@media (min-width: 1280px) {
    .hero__subtitle{
        font-size: var(--size-8xl);
    }

    .hero__title{
        font-size: var(--size-8xl);
    }
    
    .hero__description{
        max-width: 100ch;
        font-size: var(--size-lg);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */