.how-it-works {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.how-it-works__title {
    font-size: var(--size-2xl);
    margin-bottom: 1rem;
}

.how-it-works__description{
    font-size: var(--size-sm);
    color: var(--clr-slate400);
    text-align: center;
}

.how-it-works__list{
    font-size: var(--size-sm);
    text-decoration: none;
    list-style: none;
    margin: 2rem 0;
}

.how-it-works__list-title{
    color: var(--clr-light);
}

.how-it-works__list-description{
    margin-top: 0.5rem;
    color: var(--clr-slate600);
}

/* xs */
@media (min-width: 475px) {
    .how-it-works__title {
        font-size: var(--size-3xl);
    }
    
    .how-it-works__description{
        font-size: var(--size-base);
    }
    
    .how-it-works__list{
        font-size: var(--size-base);
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .how-it-works__title {
        font-size: var(--size-4xl);
    }
    
    .how-it-works__description{
        font-size: var(--size-lg);
    }
    
    .how-it-works__list{
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .how-it-works__title {
        font-size: var(--size-5xl);
    }
    
    .how-it-works__description{
        font-size: var(--size-xl);
    }
    
    .how-it-works__list{
        font-size: var(--size-xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */