:root{
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-slate400: #94a3b8;
    --clr-slate600: #94a3b8;
    --clr-slate800: #1e293b;
    --clr-green: #09BF60;
    --clr-orange: #f97316;
    --clr-light50: rgba(255, 255, 255, 0.5);
    --clr-codestrong: #070a13;
    --clr-value: 255, 255, 255;
    --clr-bubbleHover: #f1f5f9;
    --clr-textarea: #cbd5e1;
    /* green rgb(9, 191, 96) */
    /* orange rgb(249, 115, 22) */

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem
}

*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html{
    scroll-behavior: smooth; 
}

.light-mode{
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
    --clr-slate400: #1e293b;
    --clr-slate600: #1e293b;
    --clr-slate800: #1e293b;
    --clr-light50: rgba(0, 0, 0, 0.5);
    --clr-codestrong: #f97316;
    --clr-value: 0, 0, 0;
    --clr-bubbleHover: #cbd5e1;
    --clr-textarea: #ffffff;
}

body{
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    position: relative;
    cursor: none;
    caret-color: transparent;
}

/* custom cursor */
.cursor-dot,
.cursor-outline{
    display: none;
}
/* end of custom cursor */

img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a{
    color: var(--clr-green);
}

strong{
    color: var(--clr-orange);
}



/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
  }

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-green);
    outline: 1px solid var(--clr-green);
}

/* Back to top */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    z-index: 100;
  }
  
  #back-to-top:hover {
    background-color: var(--clr-orange);
    color: var(--clr-dark);
  }

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .cursor-dot {
        width: 6px;
        height: 6px;
        background-color: var(--clr-light);
        position: fixed;
        border-radius: 50%;
        z-index: 9999;
        pointer-events: none;
        transform: translate(-50%, -50%); /* Center the cursor dot */
    }
    
    .cursor-outline {
        width: 30px;
        height: 30px;
        border: 2px solid var(--clr-light);
        position: fixed;
        border-radius: 50%;
        z-index: 9998; /* Place it behind the cursor dot */
        pointer-events: none;
        transform: translate(-50%, -50%); /* Center the cursor outline */
    }    
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */